<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Pendientes</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/tarea.css">
</head>
<body>
  <div class="contenedor">
    <!-- Barra superior -->
    <header class="barra-superior">
      <div class="menu-icono" id="menu-icono" onclick="toggleSidebar()"></div>
      <h1 class="titulo">To-Do List</h1>
    </header>

    <!-- Barra lateral -->
    <div class="barra-lateral oculto" id="barra-lateral">
      <span class="cerrar" id="cerrar-lateral" onclick="toggleSidebar()">&times;</span>
      <ul>
        <li><a href="/calendario"><i class="fa-regular fa-calendar"style="font-size: 30px;"></i><p>Calendario</p></a></li>
        <li><a href="/crear"><i class="fa-solid fa-plus"style="font-size: 30px;"></i><p>Crear</p></a></li>
        <li><a href="/perfil"><i class="fa-regular fa-user"style="font-size: 30px;"></i><p>Perfil</p></a></li>
      </ul>
    </div>
    <div class="contenido">
      <div class="contenido">
        <div class="division-cuadrantes">
          <div class="cuadrante">
            <div class="pendientes-lista">
              <h3>Pendientes</h3>
              <% tareas.forEach(tarea => { %>
                <% if (tarea.estado === 'pendiente') { %>
                  <div class="pendiente por-vencer">
                    <form action="/actualizar-tarea" method="POST">
                      <label class="container">
                        <input type="checkbox" class="checkbox" name="estado" value="en-proceso" data-id="<%= tarea.tarea_id %>" onchange="this.form.submit()">
                        <div class="checkmark"></div>
                      </label>
                      <span class="icono"></span> <%= tarea.descripcion %>
                      <input type="hidden" name="id" value="<%= tarea.tarea_id %>">
                      <input type="hidden" name="fechaVencimiento" value="">
                    </form>
                  </div>
                <% } %>
              <% }); %>
            </div>
        
            <!-- Lista de En Proceso -->
            <div class="pendientes-lista">
              <h3>En Proceso</h3>
              <% tareas.forEach(tarea => { %>
                <% if (tarea.estado === 'en-proceso') { %>
                  <div class="pendiente en-proceso">
                    <form action="/actualizar-tarea" method="POST">
                      <label class="container">
                        <input type="checkbox" class="checkbox" name="estado" value="terminado" data-id="<%= tarea.tarea_id %>" onchange="this.form.submit()">
                        <div class="checkmark"></div>
                      </label>
                      <span class="icono"></span> <%= tarea.descripcion %>
                      <input type="hidden" name="id" value="<%= tarea.tarea_id %>">
                      <input type="hidden" name="fechaVencimiento" value="<%= new Date().toISOString() %>">
                    </form>
                  </div>
                <% } %>
              <% }); %>
            </div>
        
            <!-- Lista de Terminadas -->
            <div class="pendientes-lista">
              <h3>Terminado</h3>
              <% tareas.forEach(tarea => { %>
                <% if (tarea.estado === 'terminado') { %>
                  <div class="pendiente terminado">
                    <form action="/eliminar-tarea" method="POST">
                      <label class="container">
                        <input type="checkbox" class="checkbox" checked="checked" disabled>
                        <div class="checkmark"></div>
                      </label>
                      <span class="icono"></span> <%= tarea.descripcion %>
                      <input type="hidden" name="id" value="<%= tarea.tarea_id %>">
                      <input type="hidden" name="estado" value="terminado">
                      <input type="hidden" name="fechaVencimiento" value="<%= tarea.fecha_vencimiento %>">
                      <button type="submit" class="btn-delete">Eliminar</button> <!-- Bot贸n para eliminar -->
                    </form>
                  </div>
                <% } %>
              <% }); %>
            </div>
            
            
            
          </div>
          <div class="cuadrante">
            <div class="pendientes-lista">
                <h3>Pendientes</h3>
                <% tareas.forEach(tarea => { %>
                  <% if (tarea.estado === 'pendiente') { %>
                    <div class="pendiente por-vencer">
                      <form action="/actualizar-tarea" method="POST">
                        <label class="container">
                          <input type="checkbox" class="checkbox" name="estado" value="en-proceso" data-id="<%= tarea.tarea_id %>" onchange="this.form.submit()">
                          <div class="checkmark"></div>
                        </label>
                        <span class="icono"></span> <%= tarea.descripcion %>
                        <input type="hidden" name="id" value="<%= tarea.tarea_id %>">
                        <input type="hidden" name="fechaVencimiento" value="">
                      </form>
                    </div>
                  <% } %>
                <% }); %>
              </div>
          
              <!-- Lista de En Proceso -->
              <div class="pendientes-lista">
                <h3>En Proceso</h3>
                <% tareas.forEach(tarea => { %>
                  <% if (tarea.estado === 'en-proceso') { %>
                    <div class="pendiente en-proceso">
                      <form action="/actualizar-tarea" method="POST">
                        <label class="container">
                          <input type="checkbox" class="checkbox" name="estado" value="terminado" data-id="<%= tarea.tarea_id %>" onchange="this.form.submit()">
                          <div class="checkmark"></div>
                        </label>
                        <span class="icono"></span> <%= tarea.descripcion %>
                        <input type="hidden" name="id" value="<%= tarea.tarea_id %>">
                        <input type="hidden" name="fechaVencimiento" value="<%= new Date().toISOString() %>">
                      </form>
                    </div>
                  <% } %>
                <% }); %>
              </div>
          
              <!-- Lista de Terminadas -->
              <div class="pendientes-lista">
                <h3>Terminado</h3>
                <% tareas.forEach(tarea => { %>
                  <% if (tarea.estado === 'terminado') { %>
                    <div class="pendiente terminado">
                      <form action="/eliminar-tarea" method="POST">
                        <label class="container">
                          <input type="checkbox" class="checkbox" checked="checked" disabled>
                          <div class="checkmark"></div>
                        </label>
                        <span class="icono"></span> <%= tarea.descripcion %>
                        <input type="hidden" name="id" value="<%= tarea.tarea_id %>">
                        <input type="hidden" name="estado" value="terminado">
                        <input type="hidden" name="fechaVencimiento" value="<%= tarea.fecha_vencimiento %>">
                        <button type="submit" class="btn-delete">Eliminar</button> <!-- Bot贸n para eliminar -->
                      </form>
                    </div>
                  <% } %>
                <% }); %>
              </div>
          </div>

          <!-- Tercer cuadrante -->
          <div class="cuadrante">
            <div class="pendientes-lista">
                <h3>Pendientes</h3>
                <% tareas.forEach(tarea => { %>
                  <% if (tarea.estado === 'pendiente') { %>
                    <div class="pendiente por-vencer">
                      <form action="/actualizar-tarea" method="POST">
                        <label class="container">
                          <input type="checkbox" class="checkbox" name="estado" value="en-proceso" data-id="<%= tarea.tarea_id %>" onchange="this.form.submit()">
                          <div class="checkmark"></div>
                        </label>
                        <span class="icono"></span> <%= tarea.descripcion %>
                        <input type="hidden" name="id" value="<%= tarea.tarea_id %>">
                        <input type="hidden" name="fechaVencimiento" value="">
                      </form>
                    </div>
                  <% } %>
                <% }); %>
              </div>
          
              <!-- Lista de En Proceso -->
              <div class="pendientes-lista">
                <h3>En Proceso</h3>
                <% tareas.forEach(tarea => { %>
                  <% if (tarea.estado === 'en-proceso') { %>
                    <div class="pendiente en-proceso">
                      <form action="/actualizar-tarea" method="POST">
                        <label class="container">
                          <input type="checkbox" class="checkbox" name="estado" value="terminado" data-id="<%= tarea.tarea_id %>" onchange="this.form.submit()">
                          <div class="checkmark"></div>
                        </label>
                        <span class="icono"></span> <%= tarea.descripcion %>
                        <input type="hidden" name="id" value="<%= tarea.tarea_id %>">
                        <input type="hidden" name="fechaVencimiento" value="<%= new Date().toISOString() %>">
                      </form>
                    </div>
                  <% } %>
                <% }); %>
              </div>
          
              <!-- Lista de Terminadas -->
              <div class="pendientes-lista">
                <h3>Terminado</h3>
                <% tareas.forEach(tarea => { %>
                  <% if (tarea.estado === 'terminado') { %>
                    <div class="pendiente terminado">
                      <form action="/eliminar-tarea" method="POST">
                        <label class="container">
                          <input type="checkbox" class="checkbox" checked="checked" disabled>
                          <div class="checkmark"></div>
                        </label>
                        <span class="icono"></span> <%= tarea.descripcion %>
                        <input type="hidden" name="id" value="<%= tarea.tarea_id %>">
                        <input type="hidden" name="estado" value="terminado">
                        <input type="hidden" name="fechaVencimiento" value="<%= tarea.fecha_vencimiento %>">
                        <button type="submit" class="btn-delete">Eliminar</button> <!-- Bot贸n para eliminar -->
                      </form>
                    </div>
                  <% } %>
                <% }); %>
              </div>
          </div>
      
          <!-- Cuarto cuadrante -->
          <div class="cuadrante">
            <div class="pendientes-lista">
                <h3>Pendientes</h3>
                <% tareas.forEach(tarea => { %>
                  <% if (tarea.estado === 'pendiente') { %>
                    <div class="pendiente por-vencer">
                      <form action="/actualizar-tarea" method="POST">
                        <label class="container">
                          <input type="checkbox" class="checkbox" name="estado" value="en-proceso" data-id="<%= tarea.tarea_id %>" onchange="this.form.submit()">
                          <div class="checkmark"></div>
                        </label>
                        <span class="icono"></span> <%= tarea.descripcion %>
                        <input type="hidden" name="id" value="<%= tarea.tarea_id %>">
                        <input type="hidden" name="fechaVencimiento" value="">
                      </form>
                    </div>
                  <% } %>
                <% }); %>
              </div>
          
              <!-- Lista de En Proceso -->
              <div class="pendientes-lista">
                <h3>En Proceso</h3>
                <% tareas.forEach(tarea => { %>
                  <% if (tarea.estado === 'en-proceso') { %>
                    <div class="pendiente en-proceso">
                      <form action="/actualizar-tarea" method="POST">
                        <label class="container">
                          <input type="checkbox" class="checkbox" name="estado" value="terminado" data-id="<%= tarea.tarea_id %>" onchange="this.form.submit()">
                          <div class="checkmark"></div>
                        </label>
                        <span class="icono"></span> <%= tarea.descripcion %>
                        <input type="hidden" name="id" value="<%= tarea.tarea_id %>">
                        <input type="hidden" name="fechaVencimiento" value="<%= new Date().toISOString() %>">
                      </form>
                    </div>
                  <% } %>
                <% }); %>
              </div>
          
              <!-- Lista de Terminadas -->
              <div class="pendientes-lista">
                <h3>Terminado</h3>
                <% tareas.forEach(tarea => { %>
                  <% if (tarea.estado === 'terminado') { %>
                    <div class="pendiente terminado">
                      <form action="/eliminar-tarea" method="POST">
                        <label class="container">
                          <input type="checkbox" class="checkbox" checked="checked" disabled>
                          <div class="checkmark"></div>
                        </label>
                        <span class="icono"></span> <%= tarea.descripcion %>
                        <input type="hidden" name="id" value="<%= tarea.tarea_id %>">
                        <input type="hidden" name="estado" value="terminado">
                        <input type="hidden" name="fechaVencimiento" value="<%= tarea.fecha_vencimiento %>">
                        <button type="submit" class="btn-delete">Eliminar</button> <!-- Bot贸n para eliminar -->
                      </form>
                    </div>
                  <% } %>
                <% }); %>
              </div>
          </div>
        </div>
      </div>
      
    </div>
    
      
  </div>

  <script>
    const menuIcono = document.getElementById('menu-icono');
    const barraLateral = document.getElementById('barra-lateral');
    const cerrarLateral = document.getElementById('cerrar-lateral');

    menuIcono.addEventListener('click', () => {
      barraLateral.classList.add('mostrar');
    });

    cerrarLateral.addEventListener('click', () => {
      barraLateral.classList.remove('mostrar');
    });
  </script>